<section class="section row">
    <div class='section-heading col-sm-12'>
      <h4 class="inline pull-left ">
        Recent Actitvity
      </h4>
    </div>
    <% if @activities && @activities.any? %>
      <ul>
        <% @activities.each do |activity| %>
            <li><%=activity.owner.name%> has updated <a href='#' data-toggle="tooltip" data-placement="right" data-status="<%=activity.trackable.to_json%>" data-html='true'>status</a></li>
        <% end %>
     </ul>
    <% else %>
      <div class='col-sm-12'>
       <div class="alert alert-text">
          There are no activities found of any team member
       </div>
      </div>
    <% end %>
</section>

<section class="section row">
  <div class='section-heading col-sm-12'>
    <h4 class="inline pull-left ">
      Your Team Members
    </h4>
    <div class='inline pull-right'>      
      <a class='minibutton primary' data-toggle="modal" href="#Modal" data-target="#Modal">+ Add Team Members</a>
    </div>
  </div>
  <div ng-init="team_members = <%=current_team.members_except_lead.to_json%>"></div>

  <div ng-controller="MembersCtrl" class="col-sm-12">
    <div ng-show="team_members.length==0" class="alert alert-text">
      No members are added to your team yet
    </div>
    <%=render :partial => "members/create_member"%>
    <div ng-show="team_members.length > 0">
      <ul class="list-inline team-members-list">
        <li ng-repeat="m in team_members" class="col-sm-3">
          <a href="#" title='{{m.email}}' ng-click="goToProfile(m)">{{m.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="section row">
  <h4 class="section-heading">Download Section</h4>
  <ul>
    <li><a href="">Download</a> Status for the last week</li>
  </ul>
</section>

