<section class="section row">
  <h4 class="section-heading">Recent Activity</h4>
    <% if @activities && @activities.any? %>
      <ul>
        <% @activities.each do |activity| %>
            <li><%=activity.owner.name%> has updated <a href='#' data-toggle="tooltip" data-placement="right" data-status="<%=activity.trackable.to_json%>" data-html='true'>status</a></li>
        <% end %>
     </ul>
    <% else %>
       <div class="alert alert-text">
          There are no activities found of any team member
       </div>
    <% end %>
</section>

<section class="section row">
  <div class='section-heading col-sm-12'>
    <h4 class="inline pull-left ">
      Your Team Members
    </h4>
    <div class='inline pull-right'>      
      <a class='minibutton primary' data-toggle="modal" href="#Modal" data-target="#Modal">+ Add Team Members</a>
    </div>
  </div>
  <div ng-controller="MembersCtrl">
    <%=render :partial => "members/create_member"%>
    <div ng-show="team_members.length > 0">
      <ul>
        <li ng-repeat="mmmmber in team_members">
          <a href="#">{{mmmmber.name}}</a>
        </li>
      </ul>
    </div>
    <div ng-show="team_members.length==0" class="alert alert-text col-sm-12">
      No members are added to your team yet
    </div>
  </div>
   <div ng-init="team_members = <%=current_team.members_except_lead.to_json%>"></div>
</section>

<section class="section row">
  <h4 class="section-heading">Download Section</h4>
  <ul>
    <li><a href="">Download</a> Status for the last week</li>
  </ul>
</section>

