<% if member_signed_in? %>
    <div class="pull-right top-links">
        <ul>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
<% end %>
