<% if Status.created_for_today?(current_member)%>
<% else %>
    <div class="alert alert-alert">
      You have not created your status today
    </div>
    <div class="form-area">
      <%=form_tag '', {class: 'form-horizontal'} do %>
          <div class="field form-group">
            <label for="" class="control-label">What did you do yestarday</label>
            <%=text_area_tag "status[yestarday_plan]", '', class: 'form-control'%>
          </div>
          <div class="field form-group">
            <label for="" class="control-label">What is your plan for today</label>
            <%=text_area_tag "status[today_plan]", '', class: 'form-control'%>
          </div>
      <% end %>
    </div>
<% end %>