<!DOCTYPE html>
<html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      <style>
          .field{
              width: 100%;
          }
      </style>
    </head>
    <body>
        <p>
          <%=render :partial => 'status/email_form_template'%>
        </p>
        <p>
          Thanks for joining and have a great day!
        </p>
    </body>
</html>