*.rbc
capybara-*.html
.rspec
/log/*
/tmp
/app/assets/temp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
/.bundle
/vendor/bundle
.rvmrc
idea/*
.project
public/assets/*.*
docs
public/tmp/
config/database.yml
.idea
