<section class="row section">
  <h4 class="section-heading">Recent Activity</h4>
  <ul>
    <% @activities.each do |activity| %>
        <li><%=activity.owner.name%> has updated <a href='#' data-toggle="tooltip" data-placement="right" data-status="<%=activity.trackable.to_json%>" data-html='true'>status</a></li>
    <% end %>
  </ul>
</section>

<section class="row section">
  <h4 class="section-heading">Your Team Members</h4>
  <ul>
    <li><a href="">Prashant</a></li>
    <li><a href="">Nishutosh</a></li>
  </ul>
</section>

<section class="row section">
    <h4 class="section-heading">Download Section</h4>
    <ul>
      <li><a href="">Download</a> Status for the last week</li>
    </ul>
</section>

<script>

    function statusHtml(data){

       var yestarday = data.yesterday_plan,
           today = data.today_plan,
           tomorrow_plan = data.tomorrow_plan;

       var html =  "<h4>Yestarday</h4>" +
                    yestarday +
                    "<h4>Today</h4>" +
                    today +
                    "<h4>Tomorrow</h4>" +
                    tomorrow_plan

        return html;

    }

  jQuery(function($){



      $.Claim({items: ['Track your team status and activity in efficient manner',
                       'Generate & Download Status reports',
                       'Get notified when team member updates status']
      });

      $('[data-toggle="tooltip"]').tooltip({
          template: '<div class="tooltip status-tootip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',
          title: function(){
              console.log($(this).data('status'));
//              /return "Hello";
              return statusHtml($(this).data("status"));
          }
      });

  });
</script>