<!DOCTYPE html>
<html>
<head>
  <title>StatusManager</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="root">
<header class="root-header">
  <div class="container">
    <a href="/" class="logo">Status Manager</a>
    <nav>
      <ul>
        <li><a href="">Why & How</a></li>
        <li><a href="">Help</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="/signup" class="outline">Sign Up</a></li>
      </ul>
    </nav>
  </div>
</header>
</body>
</html>
